* {
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#navbar {

    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: large;
    font-style: normal;
    border: 1px solid red;
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
        white-space: nowrap;

}

#navbar img {
    /* border: 1px red solid; */
    padding: 10px 0 10px 7px;
    margin-left: 10px;
}

#navbar ul {
    /* border: 1px solid red; */
    display: flex;
    color: white;
    justify-content: space-around;
    width: 40%;
    margin-left: auto;
    margin-right: 200px;
    word-spacing: 5px;
    align-items: center;;
}

#navbar ul li{
    display: flex;
    /* border: 1px red solid; */
    margin-left:10px;
}

.emoji {
    border: 1px green solid;
    display: inline-flex;
    background-color: #38B09D;
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

#navbar a .listaText {
    transition: 0.3s;
}


#navbar a:hover .listaText{
        color:#38B09D
}




@media(max-width:680px){
    #navbar ul {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin: 0 auto;
        margin-right: 10px;    
        gap:14px;
        padding-top: 10px;
                padding-bottom: 10px;

    }
}